* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Courier New", Courier, monospace; /* Monospace font for console look */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(180deg, #000 0%, #003300 100%); /* Matrix-like dark green gradient */
    color: #4caf50; /* Matrix green */
    overflow: auto;
    text-align: center; /* Center align text */
}

.instruction_board {
    border: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%; /* Adjust width as needed */
    padding: 20px; /* Add padding for spacing */
    color: #4caf50;
    background: linear-gradient(180deg, #000 0%, #003300 100%); /* Matrix-like dark green gradient */
    text-align: center; /* Center align text */
}

header h1, header h2 {
    margin-bottom: 20px; /* Add margin for spacing */
}

footer {
    margin-top: 20px; /* Add margin for spacing */
}

footer button a {
    text-decoration: none;
    color: #4caf50;
}

footer button {
    background-color: #000;
    border: 1px solid #4caf50;
    padding: 10px 20px;
    cursor: pointer;
    color: #4caf50;
    font-size: 16px;
}

footer button:hover {
    background-color: #051905;
    color: #000;
}